body{
     margin: 0;
}
.container{
	width: 90%;
	margin: auto;
	
}
.header{
	background: black;
	width: 100%;
	margin: 0;
}
.header:after{
	content: "";
	display: block;
	clear: both;
}
.logo{
	float: left;
	width: 30%;
}
.logo img{
	margin-top: 15px;

}
.main-menu{
	width: 70%;
	/*overflow: hidden;*/
	float: left;
}
.main-menu ul{
	margin: 0;
	float: right;
	display: block;
}
.main-menu >ul >li{
	float: left;
	list-style-type: none;
	position: relative;
}
.main-menu ul li a{
	color: white;
	text-decoration: none;
	padding: 20px 30px;
	display: block;
	text-transform: capitalize;
	font-family: tahoma;
	font-weight: normal;
	margin: 0 2px;

}
.main-menu ul li:last-child{
	padding: 0;
}
.main-menu ul li:hover a{
	background: orange;

}
.main-menu .home a{
	background: orange;
}
.main-menu ul ul{
	padding-left: 0;
	background: red;
	position: absolute;
	left: 0;
	top: 100%;
	display: none;
}
.main-menu ul ul li{
	min-width: 180px;
}
.main-menu ul li:hover ul{
	display: block;
}

.banner-section{
  background-image: url("images/background.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 160px 0;
  overflow: hidden;
}
.banner-left{
	width: 70%;
	float: left;
}
.banner-left a{
	text-decoration:none ;
	padding: 10px 30px;
	border: 2px solid white;
	font-weight: bold;
	color: #ffffff;
	font-size: 22px;
}
.banner-left a:hover{
	background:#ff8b38 ;
	border: none;
}
.banner-left h1{
	color: white;
	width: 70%;
	font-weight: normal;
	font-size:45px;
}
.banner-left p{
	color: white;
	font-weight: normal;
	width: 60%;
	padding-bottom: 50px;
	font-family: sans-serif;
	font-size: 18px;
	margin-top: 30px;
}
.banner-left hr{
	width: 7%;
	margin: 0;
	border-bottom: 1px solid white;
}
.banner-right{
	width: 30%;
  background: white;
	float: left;
	margin-top: 20px;
}
.banner-right h2{
	background: #f5f5f5;
	padding: 20px 0px;
	font-size: 25px;
	text-transform: capitalize;
	text-align: center;
	margin: 0;
}
.banner-right .FREE{
	color: orange;
}
.banner-right .inputbox{
	padding: 0 40px;
}
.banner-right input{
	float: none;
	display: block;
	width: 100%;
	margin: 40px 0;
	padding: 10px 0;
	border: none;
	border-bottom: 1px solid #86878b;
}
.banner-right input[type=submit]{
	width: 100%;
	margin: 0;
	padding: 20px 0;
	background: #ff9b51;
	font-size: 20px;
	font-weight: bold;
	color: white;
}
.banner-right .submitbox{
	margin-top: 70px;
}
.container{
	width: 80%;
	margin: auto;
}
::placeholder{
	color: #86878b;
}
/*Start social media */
.social-media{
	width: 100%;
	background: #ffffff;
	overflow: hidden;
	border-bottom: 1px solid #d6d6d6;
}
.social-media .social-left{
	width: 40%;
	float: left;
	font-family: tahoma;
}
.social-media .social-right{
	width:60%;
	overflow: hidden;

}
.social-right ul{
	display: flex;
	justify-content: space-between;
	margin-left: 10%;
}
.social-right ul li{
	list-style: none;

}
.social-right ul li a{
	line-height:90px;
	font-size: 40px;
	color: #cccccc;
}
/*.social-icon{
	display: flex;
	list-style:none;
	justify-content: space-between;
	padding-top: 30px;
	font-size: 40px;
	color: #cccccc;
}*/
.soft{
	width: 100%;
	margin: 0;
	padding: 0;
	background: #f5f5f5;
	overflow: hidden;
	display: block;
	padding: 150px 0;
}
.soft-left{
	width: 70%;
	float: left;
}
.soft-right{
	width: 30%;
	overflow: hidden;
}
.soft-box{
	float: left;
	width: 20%;
	margin-top: 10px;
}
.soft-box .box1{
	width: 100px;
	height: 100px;
	background: #ff8b38;
	display: block;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid white;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.soft-box .box2{
	width: 100px;
	height: 100px;
	background: black;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid white;
}
.soft-box .box3{
	width: 100px;
	height: 100px;
	background: black;
	border-bottom: 1px solid white;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.soft-text{
	width: 80%;
	overflow: hidden;
}
.soft-text p{
	width: 80%;
	font-family: tahoma;
}
.soft-p{
	margin-top: 10px;
}
.soft-text a{
	text-decoration: none;
	padding: 15px 25px;
	background-color: #ff8b38;
	display: block;
	width: 10%;
	text-align: center;
	color: white;
	font-weight: bold;
	border-radius: 4px;
	margin-top: 20px;
}
.soft-box h3{
	margin: 0;
	padding: 0;
  text-align: center;
  line-height: 100px;
  color: white;
}
.soft-right{
	width: 30%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	float: right;
}
.soft-right img{
	margin-top:40px;
	float: right;
}
.sub-list{
	margin: 0;
	padding: 100px 0;
	width: 100%;
	overflow: hidden;
}
.sublist-left{
	width: 60%;
	float: left;
	margin-top: 40px;
	padding: 0;
}
.sublist-right{
	width: 40%;
	overflow: hidden;
	float: right;
}
.sublist-right-top li,
.sublist-right-bottom li{
	float: left;
	list-style-type: 	none;
	border: 2px solid orange	;
	border-radius: 50%;
	color: 	orange;
	padding: 	10px;
	margin-right: 10px;
}
.sublist-right-top p,
.sublist-right-bottom p{
	width:100%;
	margin-left: 80px;
	color: #f5f5f5;
}
.sublist-right-top h2,
.sublist-right-bottom h2{
	padding-left:20px ;
	overflow: hidden;
	text-transform: capitalize;
	font-size: 18px;
}
.sublist-right p{
	width: 90%;
	padding-bottom: 20px;
	color: #86878b;
	font-size: 18px;
}
.sublist-right hr{
	width: 10%;
	border-bottom: 1px solid orange;
	margin: 0;
}
.standard-picture{
	margin: 0;
	padding: 100px 0;
	background: #f5f5f5;
	overflow: hidden;
}
.standard-picture-right{
	width: 40%;
	float: left;
}
.standard-picture-left{
	width: 60%;
	float: left;
}
.standard-picture-left p{
	width: 70%;
	font-size: 18px;
	color:#86878b;
}
.standard-picture-left h2{
	margin-bottom: 40px;
}
.awesome{
	width: 100%;
	padding: 100px 0;
}
.awesome-top{
	text-align: center;
}
.awesome-top p{
	margin-bottom: 100px;
	margin-top:30px;
	font-size: 18px;
}
.awesome-top h2{
	font-size: 40px;
	font-weight: normal;
	text-transform: uppercase;
	font-family: tahoma;
	margin-top: 0;
	margin-bottom: 20px;
}
.awesome-bottom{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	text-align: center;
}
.awesome-bottom li{
	list-style-type: none;
	/*width: 20%;*/
	color: orange;
	/*margin: 0 auto;*/
	/*display: block;*/
}
/*.awesome-bottom li i{
  font-size: 40px;
  border-radius: 50%;
	border: 2px solid orange;
	padding: 15px;
}*/

.icon-left i{
	font-size: 40px;
  border-radius: 50%;
	border: 2px solid orange;
	padding: 15px 20px;
}
.icon-right i{
	font-size: 40px;
  border-radius: 50%;
	border: 2px solid orange;
	padding: 15px 20px;
}
.icon-middle i{
	font-size: 40px;
  border-radius: 50%;
	border: 2px solid orange;
	padding: 15px;
}
.awesome-bottom h3{
	font-size: 22px;
	font-family: arial;
	padding-top:20px;
}
.icon-middle{
	margin: 0 40px;
}
.awesome-bottom p{
	font-size: 18px;
	color:#86878b ;
}
.awesome-top hr{
	width: 7%;
	margin: 0 auto;
	border-bottom: 1px solid orange;
}
.awesome-bottom .icon-middle{
	margin: 0 5%;
}
.price{
	background: #f5f5f5;
	padding: 100px 0;
}
.price-top h2{
	text-align: center;
	font-size: 40px;
	font-family: tahoma;
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 20px;
}
.price-top hr{
	width: 7%;
	margin: 0 auto;
	border-bottom: 1px solid orange;
}
.price-top p{
	text-align: center;
	font-size: 18px;
	color: #86878b;
}
.price-bottom{
	width: 100%;
	justify-content: space-between;
	display: flex;
}
.basic,
.enterprise{
	background: #ffffff;
	width: 30%;
	text-align: center;
	margin-top: 150px;
}
.basic ul,
.enterprise ul{
	margin: 0;
	padding: 0;
}
.basic ul li,
.enterprise ul li{
	list-style-type: none;
	font-size: 18px;
	padding: 20px 0;
	text-transform: uppercase;
	border-bottom: 1px solid #f5f5f5;
	color: #86878b;
}
.basic h3,
.enterprise h3{
	font-size: 25px;
	border-bottom: 1px solid white;
	margin: 0;
	padding: 20px 0;
	background: #333333;
	color: white;
	font-weight: normal;
	font-family: sans-serif;
}
.basic span,
.enterprise span{
	font-size: 80px;
	font-weight: bold;
	font-family: sans-serif;
	color: white;
}
.basic h4,
.enterprise h4{
	font-size: 25px;
	color: white;
	background: #333333;
	margin: 0;
	padding: 30px 0;
}
.basic p,
.enterprise p{
	font-style: italic;
	color: gray;
	background:#333333 ;
	font-size: 18px;
	font-family: sans-serif;
	margin: 0;
	padding-bottom: 20px;
	border-bottom: 4px solid orange;
}
.professional{
	background: #ffffff;
	width: 30%;
	text-align: center;
	margin-top: 90px;
}
.professional ul{
	margin: 0;
	padding: 0;
}
.professional ul li{
	list-style-type: none;
	font-size: 18px;
	padding: 20px 0;
	text-transform: uppercase;
	border-bottom: 1px solid #f5f5f5;
	color: #86878b;
}
.professional h3{
	font-size: 25px;
	border-bottom: 1px solid white;
	margin: 0;
	padding: 20px 0;
	background: #333333;
	color: white;
	font-weight: normal;
}
.professional span{
	font-size: 80px;
	font-weight: bold;
	font-family: sans-serif;
	color: white;
}
.professional h4{
	font-size: 25px;
	color: white;
	background: #333333;
	margin: 0;
	padding: 30px 0;
}
.professional p{
	font-style: italic;
	color: gray;
	background:#333333 ;
	font-size: 18px;
	font-family: sans-serif;
	margin: 0;
	padding-bottom: 20px;
	border-bottom: 4px solid orange;
}
.professional h5{
	font-size: 18px;
	margin: 0;
	padding: 20px 0;
	background: orange;
	font-family: sans-serif;
}
.testmonial{
	width: 100%;
	margin: 0;
	padding: 100px 0;
}
.testmonial-top{
	text-align: center;
}
.testmonial-top h2{
	margin-top: 0;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 40px;
	font-family: tahoma;
}

.testmonial-top hr{
	width: 7%;
	margin: 0 auto;
	border-bottom: 1px solid orange;
}
.testmonial-top p{
	font-size: 18px;
	margin-top: 30px;
	font-family: tahoma;
	color: #86878b;
}
.testmonial-bottom{
	display: flex;
	width: 95%;
	justify-content: space-between;
	margin: 0 auto;
	padding-top: 30px;
}
.review1 .box1,
.review2 .box2,
.review3 .box3{
	width: 100%;
	background: #f5f5f5;
	padding: 10px 15px;
	font-size: 18px;
	font-style: italic;
	margin-bottom: 20px;
}
.review1 img,
.review2 img,
.review3 img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	float: left;
	margin-right: 30px;
}
.review1,
.review2,
.review3{
	width: 25%;
}
.review1 h3,
.review2 h3,
.review3 h3{
	margin: 0;
	padding: 0;
}
.review1 p,
.review2 p,
.review3 p{
	margin: 5px 0;
	padding: 0;
}
.design{
	margin: 0;
	width: 100%;
	background: url("images/design.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	padding: 100px 0;
	text-align: center;
}
.design h2{
	color: white;
	text-transform: uppercase;
	margin: 0;
	font-size: 40px;
	font-family: tahoma;
	font-weight: normal;
}
.design hr{
	width: 5%;
	border-bottom: 1px solid white;
	margin: 30px auto;
}
.design p{
	color: white;
	font-size: 18px;
	color:#e4e4e2;
	padding-bottom: 25px;
}
.design a{
	text-decoration: none;
	padding: 10px 20px;
	border: 2px solid white;
	font-size: 20px;
	font-weight: bold;
	color: white;
}
.contact{
	width: 100%;
	margin: 0;
	padding: 100px 0;
	overflow: hidden;
	text-align: center;
}
.contact-top{
	text-align: center;
}
.contact-top h2{
	font-size: 40px;
	font-weight: normal;
	font-family: tahoma;
	margin: 0;
}
.contact-top hr{
	width: 5%;
	border-bottom: 1px solid orange;
	margin: 30px auto;
}
.contact-top p{
	font-size: 18px;
	color:#86878b;
}
.contact-form{
	width: 100%;
	margin-top: 100px;
}
.contact-form-input{
	width: 50%;
	float: left;
}
.contact-form input{
	float: none;
	display: block;
	border: none;
	border-bottom: 2px solid #e4e4e2;
	width: 95%;
	padding: 10px 0;
	margin-bottom: 30px;
}
.contact-form-message{
	width: 50%;
	overflow: hidden;
}
.contact-form-message textarea{
	width: 95%;
	border: none;
	border-bottom: 2px solid #e4e4e2;
}
.send{
	width: 100%;
	overflow: hidden;
	padding: 25px 0;

}
.send a{
	padding: 15px 20px;
	background: orange;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	color: white;
	border-radius: 4px;
}
.send a:hover{
	background: yellowgreen;
}
.footer{
	width: 100%;
	background: black;
	padding: 30px 0;
}
.footer-icon{
	width: 30%;
	margin: 0 auto;
}
.footer-icon ul{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}
.footer-icon ul li{
	text-decoration: none;
}
.footer-icon ul li a{
	font-size: 30px;
	color: dimgray;
}
.footer p{
	text-align: center;
	color: white;
	margin: 0;
	padding-top: 20px;
}